<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/bootstrapnuevo.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/images/food.png" alt="logo" class="logo" style  ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/popular">Popular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upcoming">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actors">Popular Actors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/generos">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favoritos">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login" href="/registracion">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login" href="/buscadorUsuarios">User Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login" href="/misResenas">Mis Rese単as</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logeado"></a>
      </li>

      <li class="li">
        <form class="buscador form-inline my-2 my-lg-0 navbar-form  " action="/buscador" method="get">
          <input class=" form-control mr-sm-2" type="search" name="buscador" placeholder="Type to search">
          <button class=" button btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          <a class="searchbtn"href="#"></a>
          <i class="fas fa-search"></i>
        </form>
      </li>
    </ul>
    </nav>
    <h1>Perfil de: <%= usuario.nombreCompleto %></h1>
    <ul>
        <li>Email:<%= usuario.email %></li>
        <li>Fecha de Nacimiento:<%= usuario.fechaNacimiento %></li>
    </ul>
    <h2>Lista de Rese単as:</h2>
    <hr>
    <% if (reviews.length > 0) { %>
        <% for(let i=0; i < reviews.length; i++) { %>
        <h3>Rese単a de la pelicula <%= reviews[i].peliculaId%></h3>
        <p><%= reviews[i].textoResena %></p>
        
        <form action="/misResenas/borrar" method="POST">
          <input type="hidden" name="idResena" value="<%=reviews[i].id%>"/>
          <input type="hidden" name="idUsuario" value="<%=usuario.id%>"/>
          <button type="submit"> Borrar </button> </form>
       
          <!-- <a href="/misResenas/borrar/<%=reviews[i].id%>" >Borrar</a> -->
            
            <a href="/misResenas/editar/<%=reviews[i].id%>">
            Editar
        </a>
        <hr>

        <% } %>
        <% } else { %>
            <p>No hemos encontrado rese単as escritas por este usuario</p>
            <% } %>



<footer class="footer">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><img src="/images/download.png" alt="logo" class="logo" style  ></th>
        <th scope="col">Federico Davola</th>
        <th scope="col">Nicolas Yahni</th>
        <th scope="col">Felix Galperin</th>
      </tr>
    </thead>

</footer>
  </body>

</html>
</script>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>