<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>estas viendo el perfil del usuario <%= usuario.nombreCompleto %></h1>
    <ul>
        <li>Email:<%= usuario.email %></li>
        <li>Fecha de Nacimiento:<%= usuario.fechaNacimiento %></li>
    </ul>
    <h2>Lista de Reseñas:</h2>
    <hr>
    <% if (reviews.length > 0) { %>
        <% for(let i=0; i < reviews.length; i++) { %>
        <h3>Reseña de la pelicula <%= reviews[i].peliculaId%></h3>
        <p><%= reviews[i].textoResena %></p>
        <hr>
        <% } %>
        <% } else { %>
            <p>No hemos encontrado reseñas escritas por este usuario</p>
            <% } %>
</body>
</html>