<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/bootstrapnuevo.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
</head>
<body>
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="/images/food.png" alt="logo" class="logo" style  ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/popular">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upcoming">Upcoming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/actors">Popular Actors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/generos">Genres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favoritos">Favorites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link login" href="/registracion">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link login" href="/buscadorUsuarios">User Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link login" href="/misResenas">Mis Rese単as</a>
            </li>
          </ul>
          <ul>
              <li class="li">
      <form class="buscador form-inline my-2 my-lg-0" action="/buscador" method="get">
        <input class=" form-control mr-sm-2" type="search" name="buscador" placeholder="Type to search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        <a class="searchbtn"href="#"></a>
        <i class="fas fa-search"></i>
      </form>
              </li>
      </ul>
      
    </div>
    <h1>Perfil de: <%= usuario.nombreCompleto %></h1>
    <ul>
        <li>Email:<%= usuario.email %></li>
        <li>Fecha de Nacimiento:<%= usuario.fechaNacimiento %></li>
    </ul>
    <h2>Lista de Rese単as:</h2>
    <hr>
    <% if (reviews.length > 0) { %>
        <% for(let i=0; i < reviews.length; i++) { %>
        <h3>Rese単a de la pelicula <%= reviews[i].peliculaId%></h3>
        <p><%= reviews[i].textoResena %></p>
        <hr>
        <% } %>
        <% } else { %>
            <p>No hemos encontrado rese単as escritas por este usuario</p>
            <% } %>

            <footer class="footer">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col"><img src="/images/download.png" alt="logo" class="logo" style  ></th>
                      <th scope="col">Federico D'Avola</th>
                      <th scope="col">Nicolas Yahni</th>
                      <th scope="col">Felix Galperin</th>
                    </tr>
                  </thead>
              
              </footer>
</body>
</html>